Inspecting Data ref->2.6

In [6]:
import pandas as pd

df = pd.read_csv("astronauts.csv")
#df.head(2) # first 2 rows
#df.tail(2) # last 2 rows
df.sample(3) # 3 random rows, df.sample(3, replace=True) if randomly pick same row it will pick again

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
128,Robert L. Gibson,1978.0,8.0,Retired,10/30/1946,"Cooperstown, NY",Male,California Polytechnic Institute,Aeronautical Engineering,NaN,Captain,US Navy (Retired),5,868,0,0.0,"STS 41-B (Challenger), STS 61-C (Columbia), ST...",NaN,NaN
210,Edward T. Lu,1995.0,15.0,Retired,7/1/1963,"Springfield, MA",Male,Cornell University; Stanford University,Electrical Engineering,Applied Physics,NaN,NaN,3,4962,1,6.0,"STS-84 (Atlantis), STS-106 (Atlantis), ISS-07 ...",NaN,NaN
139,S. David Griggs,1978.0,8.0,Deceased,9/7/1939,"Portland, OR",Male,US Naval Academy; George Washington University,NaN,Business Administration,NaN,NaN,1,167,1,3.0,STS 51-D (Discovery),6/17/1989,NaN

In [7]:
df.info() # information about datafram

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 357 non-null    object
 1   Year                 330 non-null    float64
 2   Group                330 non-null    float64
 3   Status               357 non-null    object
 4   Birth Date           357 non-null    object
 5   Birth Place          357 non-null    object
 6   Gender               357 non-null    object
 7   Alma Mater           356 non-null    object
 8   Undergraduate Major  335 non-null    object
 9   Graduate Major       298 non-null    object
 10  Military Rank        207 non-null    object
 11  Military Branch      211 non-null    object
 12  Space Flights        357 non-null    int64
 13  Space Flight (hr)    357 non-null    int64
 14  Space Walks          357 non-null    int64
 15  Space Walks (hr)     357 non-null    float64
 16  Missions             334 non-null    object
 17  Death Date           52 non-null     object
 18  Death Mission        16 non-null     object
dtypes: float64(3), int64(3), object(13)
memory usage: 53.1+ KB

In [8]:
df.shape # rows and colum count

(357, 19)

In [9]:
df['Year'].value_counts()

1996.0    35
1978.0    35
1998.0    25
1990.0    23
1966.0    19
1995.0    19
1992.0    19
1980.0    19
1984.0    18
2000.0    17
1987.0    15
1963.0    14
1985.0    13
2004.0    11
1967.0    11
2009.0     9
1962.0     8
1959.0     7
1969.0     7
1965.0     6
Name: Year, dtype: int64

In [10]:
df.max()

Name                 Yvonne D. Cagle
Year                          2009.0
Group                           20.0
Status                       Retired
Birth Date                  9/9/1952
Birth Place              Yonkers, NY
Gender                          Male
Space Flights                      7
Space Flight (hr)              12818
Space Walks                       10
Space Walks (hr)                67.0
dtype: object